
.container-left-index2{
	height: auto;
}
.container-insert{
	border-radius: 25px;
}
.logo{
	height: 20px;
}
.body-nav {
    background-color: white;
}

.ctn {
    width: 100%;
    height: 100%;
}

.container-left-index2 {
    float: left;
    height: 100%;
    width: 17%;
    margin-left: -10px;
    background-color: #0F1C33;
}

.container-right-index2 {
    float: left;
    height: 100%;
    width: 83.75%;
    background-color: #EBEBEB;
}

.container-right-index2-map {
    float: left;
    height: 100%;
    width: 83.75%;
}

.container-right-index2-left {
    float: left;
    height: 632px;
    width: 83.75%;
    background-color: #EBEBEB;
}

.menu-text {
    margin-left: 20px;
    color: white;
    font-size: 12px;
}

.menu-text2 {
    margin-left: 20px;
    color: white;
    font-size: 12px;
}

.table-menu li a {
    text-decoration: none;
    padding-left: 5px;
    color: white;
}

.table-menu li {
    list-style-type: none;
    margin-right: 20px;
    padding-left: 10px;
    margin-left: -20px;
    padding: 10px 0px;
    border-radius: 1px;
    margin-top: 5px;
}

.menu2 {
    margin-top: 30px;
}

.table-menu img {
    width: 7%;
    height: 7%;
    margin-right: 5px;
    color: white;
}

.active {
    background-color: #D0D0D0;
}

.table-menu ul li:hover {
    background-color: #D0D0D0;
    cursor: pointer;
}

a.logo1 {
    margin-left: -500px;
    font-size: 28px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #008AD3;
}

.user-menu {
    margin-top: -20px;
}

.header-area1 {
    text-decoration: none;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 3px;
    background-color: white;
    margin-top: -20px;
    margin-left: -10px;
    margin-right: -8px;
    height: 50px;
}

.user-menu input {
    margin-left: 900px;
    padding: 6px 0px;
    width: 150px;
    padding-left: 5px;
}

.user-menu ul a img.user-icon {
    width: 3%;
    height: 3%;
    margin-left: 20px;
    padding-top: 10px;
}

.ctn hr {
    width: 160px;
    border-color: #D0D0D0;
}

.ctn-right-left {
    width: 49%;
    float: left;
    height: 500px;
    margin-left: 5px;
}

.form-ctn-right-left {
    background-color: white;
    width: 80%;
    height: 90%;
    margin-left: 50px;
    margin-top: 30px;
}

.table-menu span {
    position: absolute;
    float: left;
}

.table-menu ul li .text {
    float: left;
    width: 80%;
}

.table-menu ul li img.icon-mt {
    width: 6%;
}

.table-menu ul li:hover img.icon-mt {
    margin-left: 10px;
    transition: 0.5s;
}

.form-ctn-right-left h4 {
    padding-top: 20px;
    margin-left: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.form-ctn-right-left hr {
    width: 100%;
    border-color: #ddd;
}

.form-content {
    width: 80%;
    height: 80%;
    margin-left: 40px;
}

.form-content form {
    margin-left: 20px;
}

.form-content form p {
    color: #838383;
}

.form-content input {
    width: 90%;
    height: 25px;
    margin-top: -10px;
    padding-left: 5px;
}

.checkbox {
    margin-left: -135px;
}

.re {
    position: absolute;
    margin-top: -20px;
    margin-left: 35px;
}

.sumbit {
    float: right;
    width: 50px;
    margin-top: 20px;
    height: 30px;
    margin-right: 35px;
}

.sumbit1 {
    float: right;
    width: 50px;
    margin-top: 20px;
    height: 30px;
    margin-right: 30px;
}

.sumbit input {
    width: 60px;
    height: 30px;
    background-color: #008AD3;
    padding: 7px 5px;
    color: white;
}

.sumbit1 input {
    padding: 7px 5px;
    width: 60px;
    height: 30px;
    color: white;
    background-color: #8F54C7;
}

.panel {
    border-radius: 1px;
    width: 187px;
    margin-left: -20px;
    background-color: #EFEFEF;
    color: black;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.panel li {
    margin-left: 20px;
    padding: 1px 1px;
    margin-bottom: 10px;
    margin-top: 7px;
}

.panel li a {
    color: black;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.panel li:hover {
    background-color: #EFEFEF;
    border-radius: 5px;
    width: 120px;
}

#mySearch {
    margin-left: 20px;
    padding: 3px 0px;
    padding-left: 3px;
    margin-top: 30px;
    width: 180px;
}

@media screen and (max-width: 1350px) {
    #mySearch,
    .user-menu input,
    .user-icon {
        display: none;
    }
    .table-menu ul {
        width: 100%;
    }
    .container-left-index2 {
        height: auto;
        margin: 0;
    }
}

@media screen and (max-width: 700px) {
    * {
        box-sizing: 0;
    }
    .header-area1 {
        width: 80%;
        margin: 0;
        position: static;
    }
    .container-left-index2 {
        width: 100%;
        height: auto;
        float: left;
        font-size: 15px;
    }
    .container-right-index2 {
        width: 100%;
    }
}

#googleMap {
    margin-top: 12px;
    width: 100%;
    height: 619px;
    position: static;
    z-index: -1;
}

.container-right-index2-map .chart_div {
    width: 40%;
    float: left;
    margin-left: 50px;
    padding-left: 50px;
    position: static;
    z-index: 1;
}

#vis_div,
#chart_div {
    width: 400px;
    height: 430px;
}
.table-one{
	width: 100%;
}