.btn {
    margin-top: 20px;
}

.edit-product {
    width: 500px;
}

.table tr td img {
    width: 20%;
    height: 10%;
}

.table tr .img {
    text-align: center;
    width: 200px;
}
div.phantrang{
	text-align: center;
}