header {}

a.logo {
    margin-left: -400px;
}

.user-menu {
    text-decoration: none;
    list-style-type: none;
    margin-left: 500px;
}

a {
    text-decoration: none;
}

li.col2 {
    list-style-type: none;
    display: inline-block;
    padding-left: 20px;
    margin-left: 50px;
    color: black;
}

a.col2 {
    color: black;
}

.container-right {
    height: auto;
    float: right;
    width: 80%;
    margin-right: 5px;
    margin-top: 30px;
}

.container-left {
    height: 100%;
    float: left;
    margin-left: 20px;
    width: 15%;
    margin-top: 38px;
    background-color: white;
    border-radius: 7xp;
    text-decoration: none;
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
    border-radius: 15px;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.img-user {
    width: 19px;
    height: 19px;
    position: absolute;
    margin-top: -1px;
    margin-left: -22px;
}

a.col2:hover {
    color: #F1B233;
    padding: 5px 0px;
    border-radius: 7px;
}

#table-one {
    border-radius: 5px;
}

.lable-add {
    padding-top: 5px;
    background-color: white;
    width: 12%;
    height: 3%;
    margin-left: 20px;
    padding-bottom: 5px;
    border-radius: 10px;
}

.lable-add:hover {
    background-color: #F1B233;
}

.add-lable {
    text-decoration: none;
    padding: 10px 10px;
}

#table-one th {
    padding: 10px 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    background-color: #F1B233;
    color: white;
}

#table-one td {
    padding: 10px 20px;
    border: 1px solid #ddd;
}

#thead th {
    border-radius: 5px;
}

#table-one tr {
    background-color: white;
}

#table-one tr:hover {
    background-color: #F5F5F5;
    color: deepskyblue;
    transition: all ease-in-out 0.2s;
}

.tbody {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px;
}

.tb-t {
    text-decoration: none;
    color: black;
    padding: 0px 5px;
}

.tb-t:hover {
    color: deepskyblue;
}

td,
td {
    width: auto;
}

div.clear {
    clear: both;
}

.banner-left {
    width: auto;
    height: 480px;
    margin-left: 25px;
    margin-top: 20px;
    margin-right: 20px;
}

a.banner {
    text-decoration: none;
    margin-left: 0px;
}

div.banner {
    background-color: #8F54C7;
    padding: 6% 6%;
    margin-top: 15px;
    color: white;
    border-radius: 15px;
}

div.banner:hover {
    padding: 6% 6%;
    background-color: #F1B233;
    cursor: pointer;
    transform: rotate(10deg);
}

.footer-bottom {
    height: 50px;
    width: 100%;
    background-color: #343A40;
    margin-bottom: -40px;
}

div.clear {
    clear: both;
}

p.footer {
    color: white;
    text-align: center;
    padding-top: 20px;
}

@media only screen and (max-width: 1100px) {
    .banner-left {
        width: 90%;
        height: 100%;
    }
    a.banner {
        text-decoration: none;
        width: 100%;
    }
    div.banner {
        color: black;
        margin-top: -2px;
        background-color: #ddd;
        padding: 10px 0;
        width: 150px;
        margin-top: 5px;
    }
    .container-left {
        height: auto;
        float: none;
        width: auto;
        text-decoration: none;
        background-color: #8F54C7;
        margin-right: 30px;
        padding: 10px 0;
        position: static;
    }
    .header-area {
        text-decoration: none;
        background-color: white;
        border-bottom: 1px solid #B051C3;
    }
    .container-right {
        height: auto;
        float: none;
        width: 100%;
        margin-top: 30px;
    }
    #table-one th {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 10px;
        background-color: #F1B233;
        color: white;
    }
    #table-one {
        width: 100%;
    }
    #table-one td {
        border: 1px solid #ddd;
    }
    a.logo {
        margin-left: 30px;
    }
    .user-menu {
        text-decoration: none;
        margin-left: 100px;
    }
    .tb-t {
        text-decoration: none;
        color: black;
    }
    li.col2 {
        display: block;
        color: black;
        margin-left: 30px;
    }
    div.banner:hover {
        padding: 10px 0px;
        cursor: pointer;
    }
}

#post1 {
    width: 20%;
    height: 10%px;
    float: left;
    padding: 5px;
    margin-left: 20px;
    background-color: white;
    border: 1px solid #CECECE;
    margin-top: 10px;
    border-radius: 15px;
}

#post1:hover {
    transition: all ease-in-out 0.5s;
    color: #8F54C7;
    border: 1px solid #A5A5A5;
    background-color: #DBDBDB;
}

.row-right-2 {
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

#post2 {
    width: 160px;
    height: 200px;
    float: left;
    padding: 5px;
    margin-top: 5px;
    margin-left: 5px;
}

#post3 {
    width: 115px;
    height: 200px;
    padding: 5px;
    margin-top: 5px;
    margin-left: 5px;
}

img.colsp {
    width: 90%;
    height: 70%;
    margin-left: 10px;
    margin-top: -5px;
    image-rendering: pixelated;
}

img.colsp:hover {
    transform: rotate(16deg);
}

p.icon-text {
    font-size: 20px;
    margin-top: 150px;
    position: absolute;
    color: black;
    margin-left: 10px;
    text-align: center;
}

p.icon-text:hover {
    color: dodgerblue;
}

.container-right-2 {
    width: 70%;
    height: auto;
    margin-left: 300px;
    margin-top: 40px;
    background-color: white;
}

@media only screen and (max-width: 1100px) {
    .container-right-2 {
        margin-left: 10px;
    }
    .container-right-2 {
        width: 100%;
    }
}

.container-right-insert {
    height: auto;
    width: 60%;
    margin-left: 300px;
    margin-top: 50px;
    padding-bottom: 30px;
    background-color: white;
    border-radius: 15px;
}

.table-insert {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
    height: 100%;
}

.container-insert {
    background-color: white;
    height: 100%;
}

.sedang {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
    height: 25px;
    border-radius: 5px;
}

.name-insert {
    padding-left: 30px;
}

.button-insert {
    background-color: #F1B233;
    width: 120px;
    height: 30px;
    color: white;
    border-radius: 5px;
    margin-left: 15px;
    margin-top: 10px;
}

.button-insert:hover {
    color: black;
}

.button-insert:active {
    color: #8F54C7;
    border: 1px solid white;
}

@media only screen and (max-width: 1100px) {
    .container-right-insert {
        height: auto;
        width: 100%;
        margin-left: 1px;
        background-color: white;
    }
}

.container-left-top-index {
    width: 70%;
    height: 1000px;
    margin-left: 300px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.container-top-index {
    height: 35%;
    width: 110%;
    margin-left: -20px;
    background-color: #5E72E4;
}

.container-footer-index {
    height: 35%;
    width: 100%;
    margin-top: 20px;
    background-color: white;
}

.container-top-index-main {
    width: 90%;
    height: 65%;
    margin-left: 20px;
    ;
}

.container-main-index {
    height: 35%;
    width: 100%;
    margin-top: -50px;
}

.post-index-row-2 {
    height: 80%;
    width: auto;
    margin-top: -20px;
}

.container-top-index-search {
    width: 100%;
    height: 12%;
    padding-top: 10px;
}

.search-index-top-left {
    float: left;
    height: 100%;
    width: 50%;
    margin-left: 4%;
}

.thongbao-index-top-right {
    float: left;
    height: 100%;
    width: 40%;
    margin-left: 5%;
}

.search-top-index {
    width: 250px;
    height: 40px;
    border-radius: 15px;
    background-color: #EFF1FC;
}

.search-top-index:hover {
    background-color: white;
    width: 300px;
    transition: all ease-in-out 0.7s;
}

.search-top-index:active {
    display: block;
}

.tb-index-top {
    width: 10%;
    height: 80%;
    margin-left: 60%;
    margin-top: 5px;
}

.post-index-row-1 {
    height: 20%;
    width: auto;
    margin-top: 15px;
}

.row1-post-text {
    float: left;
    width: 10%;
    height: 100%;
    margin-left: 15px;
}

.row1-post-text-2 {
    float: left;
    width: 20%;
    height: 100%;
    margin-left: 20px;
    color: black;
    background-color: #E9ECEF;
    border-radius: 15px;
    color: #5E72E4;
}

.row1-post-text-2:hover {
    background-color: white;
}

span.row1-post-text-2-2:hover {
    color: blue;
}

span.row1-post-text-2-2 {
    color: #626B9E;
}

.row1-post-text-3 {
    float: left;
    width: 30%;
    height: 100%;
    margin-left: 30%;
}

img.tb-index-top:hover {
    transform: rotate(15deg);
}

.text-post-row1 {
    padding-left: 25px;
    margin-top: 10px;
    font-size: 20px;
    color: white;
}

.img-text-2 {
    height: 30%;
    width: 8%;
    margin-top: 13px;
    margin-left: 20px;
}

.sumbit-text-3 {
    margin-top: 10px;
    margin-right: 10px;
    float: right;
    background-color: white;
    padding: 5px 10px;
    border-radius: 15px;
    color: #626B9E;
}

.sumbit-text-3:hover {
    margin-top: 20px;
    color: black;
    transition: all ease-in-out 0.7s;
}

.post-index {
    width: 22%;
    height: 55%;
    float: left;
    margin-left: 20px;
    margin-top: 50px;
    background-color: white;
    border-radius: 15px;
}

.post-index:hover {
    transition: all ease-in-out 0.7s;
    margin-top: 1px;
}

.post2-index {
    width: 60%;
    height: 100%;
    float: left;
}

.post2-index-2 {
    width: 35%;
    height: 100%;
    float: left;
    margin-left: 5px;
}

.post2-index-text-h4 {
    text-align: center;
    color: #172B4D;
    font-size: 16px;
    padding-left: 2px;
}

.post2-index-text-p {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    margin-top: -10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.img-post2-index-2 {
    height: 70%;
    width: 85%;
    margin-left: 5px;
    margin-top: 10px;
}

.post-main-index {
    float: left;
    width: 60%;
    height: 100%;
    margin-left: 20px;
}

@media only screen and (max-width: 1100px) {
    .container-left-top-index {
        width: 100%;
        height: 100%px;
        margin-left: 10px;
    }
}

.banner-img {
    width: 12%;
    height: 12%;
    margin-left: 10px;
}

.row-fooetr-index {
    overflow: visible;
    width: 100%;
    height: 50%;
    background-color: #5E72E4;
}

.row-fooetr-index_2 {
    height: 50%;
    width: 100%;
}

.row-fooetr-index_2_in {
    height: 40%;
    width: 90%;
    margin-left: 20px;
    margin-top: 40px;
}

.footer-index-2 {
    margin-left: 40px;
    background-color: #F1B233;
    padding: 10px 10px;
    border-radius: 15px;
    color: white;
    list-style-type: none;
}

.row-fooetr-index_2_in-div {
    margin-left: 40px;
    float: left;
}

.row-fooetr-index_2_in-div:hover {
    transform: rotate(13deg)
}

.row-fooetr-index_2_out {
    height: 20%;
    width: 90%;
    margin-left: 40px;
}

.text-footer:hover {
    color: #5E72E4;
}

.admin {
    font-size: 20px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.post-main-index2 {
    float: left;
    width: 30%;
    height: 100%;
    margin-left: 40px;
    background-color: white;
}

.table croll {
    overflow: auto;
}

.table-admin {
    color: #F1B233;
}

.row_main_index2 {
    width: 90%;
    height: 90%;
    margin-left: 5%;
    margin-top: 0%;
    overflow: auto;
}

#customers td {
    border: 1px solid #8F54C7;
    padding: 8px;
    width: 40%;
}

#customers th {
    border: 1px solid #8F54C7;
    padding: 8px;
    width: 20%;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: left;
    background-color: #F1B233;
    color: white;
}

#piechart {
    position: relative;
}

@media only screen and (max-width: 1100px) {
    .container-left-top-index {
        width: 80%;
        height: auto;
        margin-left: 10px;
    }
    #piechart {
        z-index: -1;
    }
    .post-index {
        width: 50%;
        height: auto;
    }
    .post-index-row-1 {
        display: none;
    }
    .post-main-index {
        display: none;
    }
    .post-index:hover {
        transition: none;
        margin-bottom: 0.0000001px;
        position: static;
    }
    .row1-post-text-2 {
        float: left;
        width: 100%;
        height: 40%;
    }
    .sumbit-text-3:hover {
        margin-top: 1px;
        color: black;
        transition: none;
        margin-bottom: 10px;
    }
    .row-fooetr-index_2 {
        display: none;
    }
    .post-main-index2 {
        display: none;
    }
    .container-top-index-search {
        display: none;
    }
    .hr {
        display: none;
    }
}

.container-left-abc {
    width: 70%;
    height: 1000px;
    margin-left: 300px;
    margin-top: 10px;
    margin-bottom: 30px;
    border: 1px solid black;
}

.ctn {
    width: 100%;
    height: 100%;
    background-color: white;
    top: 50px;
}

* {
    margin: 0;
}

.menu-text2 {
    margin-left: 20px;
    color: white;
    font-size: 12px;
}

.menu2 {
    margin-top: 30px;
}

a.logo1 {
    margin-left: -500px;
    font-size: 28px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #008AD3;
}

.user-menu {
    margin-top: -20px;
}

.header-area1 {
    text-decoration: none;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #343A40;
    height: 50px;
}

.user-menu input {
    margin-left: 900px;
    padding: 6px 0px;
    width: 150px;
    padding-left: 5px;
}

.user-menu ul a img.user-icon {
    width: 3%;
    height: 3%;
    margin-left: 20px;
    padding-top: 10px;
}

.ctn hr {
    width: 160px;
    border-color: #D0D0D0;
}

.ctn-right-left {
    width: 49%;
    float: left;
    height: 500px;
    margin-left: 5px;
}

.form-ctn-right-left {
    background-color: white;
    width: 80%;
    height: 90%;
    margin-left: 50px;
    margin-top: 30px;
}

.form-ctn-right-left h4 {
    padding-top: 20px;
    margin-left: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.form-ctn-right-left hr {
    width: 100%;
    border-color: #ddd;
}

.form-content {
    width: 80%;
    height: 80%;
    margin-left: 40px;
}

.form-content form {
    margin-left: 20px;
}

.form-content form p {
    color: #838383;
}

.form-content input {
    width: 90%;
    height: 25px;
    margin-top: -10px;
    padding-left: 5px;
}

.checkbox {
    margin-left: -135px;
}

.re {
    position: absolute;
    margin-top: -20px;
    margin-left: 35px;
}

.sumbit {
    float: right;
    width: 50px;
    margin-top: 20px;
    height: 30px;
    margin-right: 35px;
}

.sumbit1 {
    float: right;
    width: 50px;
    margin-top: 20px;
    height: 30px;
    margin-right: 30px;
}

.sumbit input {
    width: 60px;
    height: 30px;
    background-color: #008AD3;
    padding: 7px 5px;
    color: white;
}

.sumbit1 input {
    padding: 7px 5px;
    width: 60px;
    height: 30px;
    color: white;
    background-color: #8F54C7;
}

#mySearch {
    margin-left: 20px;
    padding: 3px 0px;
    padding-left: 3px;
    margin-top: 30px;
    width: 180px;
}

@media screen and (max-width: 1350px) {
    #mySearch,
    .user-menu input,
    .user-icon {
        display: none;
    }
    .table-menu ul {
        width: 100%;
    }
    .container-left-index2 {
        height: auto;
        margin: 0;
    }
}

@media screen and (max-width: 700px) {
    * {
        box-sizing: 0;
    }
    .header-area1 {
        width: 80%;
        margin: 0;
        position: static;
    }
    .container-left-index2 {
        width: 100%;
        height: auto;
        float: left;
        font-size: 15px;
    }
    .container-right-index2 {
        width: 100%;
    }
}

#googleMap {
    margin-top: 12px;
    width: 100%;
    height: 619px;
    position: static;
    z-index: -1;
}

.container-right-index2-map .chart_div {
    width: 40%;
    float: left;
    margin-left: 50px;
    padding-left: 50px;
    position: static;
    z-index: 1;
}

#vis_div,
#chart_div {
    width: 400px;
    height: 430px;
}