h3.gsct{
	color: #FF5622;
	text-align: center;
	font-size: 14px;
}
.main1-sp3{
	 border: 1px solid #FF5622;
}
 .main1-sp2{
 margin-bottom: 20px;
 padding: 5px 0px;
height: 500px;
 }
 .container2 .kms{
margin-left: 450px;

 }
 .main1-top a{
 font-size: 13px;
 color: #787878;
 }
  .main1-top{
  color: black;
  }
 .colsp1 .tsp{
  color: #282828;
  }
  .colsp1 .gia del{
  color: black;
  }
  .main1-top a.main-menu{
  color: #525151;
 
  }
  .main1-top #action{
  border-bottom-color: #FF5622;
  }
   p.GG{
  z-index: 100;
  }