.mota{
	border-color: white;
}
* {
    font-family: Arial;
    margin-left: 0px;
    margin-right: 1px;
    margin-top: 0px;
}

table {
    border-collapse: collapse;
}

a {
    text-decoration: none;
}

input:focus {
    outline: none;
}

header {
    height: 80px;
    width: 100%;
    background-color: #273896;
    color: white;
}

.header-top {
    margin-left: 70px;
    margin-right: 70px;
    width: auto;
    height: 99%;
}

.header-top-1 {
    float: left;
    width: 200px;
    height: 99%;
}

.header-top-1 .logo {
    width: 100%;
    height: 45%;
    margin-top: 25px;
}

.header-top-2 {
    float: left;
    width: 130px;
    height: 99%;
}

.header-top-2 p,
.header-top-3 p {
    font-size: 12px;
    text-align: center;
    margin-top: 25px;
}

.header-top-3 p span,
.header-top-2 p span {
    opacity: 0.7;
}

.header-top-3 {
    float: left;
    width: 150px;
    height: 99%;
}

.header-top-4 {
    float: left;
    width: 240px;
    height: 99%;
}

.header-top-4 p {
    text-align: center;
    margin-top: 35px;
    font-size: 12px;
    float: left;
    padding-left: 5px;
}

.header-top-4 .cart-hv {
    border: 2px solid white;
    padding: 7px 9px;
    margin-left: 10px;
}

.header-top-4 .cart-hv:hover {
    background-color: white;
    color: black;
}

.header-top-5 {
    float: right;
    width: 430px;
    height: 99%;
}

.header-menu-header {
    width: 80%;
    height: 40%;
    float: right;
}

.header-menu-header2 {
    width: 100%;
    height: 59%;
    float: right;
}

.header-menu-header2 .search {
    width: 90%;
    height: 80%;
    padding-left: 10px;
    border-radius: 5px;
    float: right;
}

.header-menu-header2 .search:active {
    border: #F0F0F0;
}

.header-menu-header .top {
    font-size: 12px;
    right: 0px;
    margin-left: 13px;
    color: #F0F0F0;
}

.header-menu-header .top:hover {
    color: White;
    cursor: pointer;
}

.content-top {
    width: 100%;
    height: 35px;
    background-color: #F0161F;
}

.content-menu {
    margin-left: 70px;
    width: 17%;
    height: 99%;
    border-left: 1px solid #F0F0F0;
    border-right: 1px solid #F0F0F0;
}

.content-menu h3 {
    text-align: center;
    padding-top: 7px;
    color: white;
    font-size: 17px;
}

.container {
    margin-left: 70px;
    margin-right: 70px;
    width: auto;
    height: auto;
}

.main-top {
    width: 100%;
    height: 350px;
    margin-top: 10px;
}

.main-top1 {
    width: 19%;
    height: 100%;
    float: left;
    background-color: white;
}

.main-top1 .menu {
    display: list-item;
    list-style: none;
    border: 1px solid #D8D8D8;
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom: none;
    padding-left: 20px;
}

.main-top1 .menu:hover {
    background-color: #F1F1F1;
    color: blue;
    cursor: pointer;
}

.menu:hover i.fas {
    margin-right: -0.5px;
    transition: all ease-in-out 0.5s;
}

.main-top1 .menu:last-child {
    border-bottom: 1px solid #D8D8D8;
}

.main-top2 {
    height: 100%;
    width: 57%;
    float: left;
    margin-left: 10px;
    background-color: white;
}

.main-top3 {
    width: 22%;
    height: 100%;
    float: right;
    background-color: white;
}

.myslider img {
    width: 100%;
    height: 100%;
}

.menu img {
    width: 18px;
    margin-right: 10px;
}

.menu .fas {
    float: right;
    margin-right: 20px;
    color: #A6A6A6;
}

.sticky-mess {
    position: fixed;
    right: 10px;
    width: 60px;
    height: 50px;
    top: 200px;
    border-radius: 50%;
    background-color: white;
}

.sticky-mess img {
    width: 60px;
}

.main-top3 h3 {
    font-size: 15px;
    padding-top: 20px;
    padding-left: 10px;
}

.main-top3 img {
    width: 20px;
    margin-left: 10px;
    margin-right: 20px;
    float: left;
    margin-bottom: 20px;
}

.main-top3 strong {
    font-size: 12px;
    float: left;
    width: 80%;
    margin-bottom: 20px;
    color: blue;
}

div.p1 {
    margin-top: 30px;
}

.main-top-qc {
    width: 100%;
    height: 100px;
    margin-left: -10px;
}

.main-top-qc img {
    width: 100%;
    margin-top: -5px;
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.content-top {
    position: -webkit-sticky;
    position: sticky;
    top: 80;
}

.container1 {
    margin-left: 70px;
    margin-right: 70px;
    width: auto;
    margin-top: 20px;
}

.container2 {
    margin-left: 70px;
    margin-right: 70px;
    width: auto;
    margin-top: 20px;
    height: auto;
}

.main1-top .main-menu {
    margin-left: 20px;
    color: blue;
    padding-bottom: 8px;
    padding-left: 2px;
    padding-right: 2px;
}

#action {
    border-bottom: 2px solid blue;
}

.main1-sp {
    width: 100%;
    height: 580px;
    margin-top: 10px;
}

.main1-sp2 {
    width: 100%;
    height: 290px;
    margin-top: 10px;
}

.main1-sp1 {
    width: 100%;
    height: 290px;
    margin-top: 10px;
}

.colsp1 {
    float: left;
    width: 238.3px;
    height: 290px;
}

.colsp1 img {
    width: 190px;
    height: 200px;
    margin-left: 30px;
    margin-top: 5px;
}

.main1-sp .colsp1 {
    border: 1px solid #B7B7B7;
}

.main1-sp1 .colsp1 {
    border: 1px solid #B7B7B7;
}

.GG {
    background-color: #F0161F;
    color: white;
    padding: 5px 1px;
    text-align: center;
    position: absolute;
    margin-top: -150px;
    margin-left: 5px;
    border-radius: 50%;
    z-index: -9999;
    font-size: 10px;
}

.tsp {
    padding-left: 15px;
    padding-right: 10px;
    font-size: 14px;
    padding-top: 10px;
    color: blue;
}

.gia {
    padding-left: 15px;
    color: red;
}

.clear {
    clear: both;
}

.footer {
    width: 100%;
    height: 200px;
    background-color: #273896;
    margin-top: 20px;
}

.footer-left {
    margin-left: 10px;
    float: left;
    width: 24%;
    height: 99%;
}

.footer h3 {
    color: white;
    margin-left: 50px;
    padding-top: 10px;
}

.menu-footer {
    display: list-item;
    font-size: 14px;
    color: white;
    margin-left: 20px;
    margin-top: 10px;
    list-style: none;
}

.menu-footer i {
    margin-right: 10px;
}

.footer-left p {
    font-size: 14px;
    color: white;
}

.footer-left .text {
    height: 30px;
    border-radius: 5px;
}

footer {
    height: 40px;
    width: 100%;
    background-color: black;
    margin-bottom: -8px;
}

footer p {
    color: white;
    text-align: center;
    padding-top: 10px;
    font-size: 14px;
}

.dienthoai {
    position: absolute;
    background-color: white;
    padding: 5px 5px;
    width: 80px;
    visibility: visible;
    display: none;
}

.dienthoai .item {
    display: list-item;
    margin-top: 5px;
    list-style: none;
    font-size: 14px;
}

.dienthoai .item:hover {
    cursor: pointer;
}

#dienthoai:hover.dienthoai {
    display: block;
    visibility: visible;
}

.product_name {
    padding-top: 50px;
    font-size: 15px;
    color: #A6A6A6;
}

.container .img {
    width: 15px;
}

.icon {
    position: absolute;
    left: 80px;
    position: fixed;
    top: 90px;
}

.icon img {
    width: 15px;
    height: 15px;
}

.sticky-menu {
    position: fixed;
    top: 120px;
    width: 90%;
    display: none;
    margin-left: 0px;
}

.pr-main-left {
    height: auto;
    width: 23%;
    border-right: 1px solid #D8D8D8;
    float: left;
    margin-top: 30px;
}

.pr-main-right {
    height: auto;
    width: 76%;
    float: left;
}

.sp-pr-pr-top {
    width: 100%;
    height: 80px;
}

hr {
    width: 80%;
    border: 0.5px solid #D8D8D8;
    margin-left: 10%;
}

.img-sp-pr {
    float: left;
    width: 25%;
    height: 100%;
    margin-right: 10px;
}

.img-sp-pr img {
    width: 100%;
}

.sp-pr-pr-top p {
    font-size: 15px;
    padding: 5px 5px;
}

.sp-pr-pr-top p:last-child {
    color: #F0161F;
}

.container-min {
    width: 100%;
    height: auto;
}

.img-pt {
    float: left;
    width: 60%;
    height: 500px;
}

.img-pt-right {
    float: left;
    width: 39%;
    height: 480px;
}

.img-pt-right h3 {
    font-size: 25px;
}

.img-pt-right a {
    display: list-item;
    margin-left: 40px;
    margin-top: 15px;
}

.qty {
    width: 45px;
    height: 35px;
    margin-left: 25px;
    margin-top: 20px;
    border: 1px solid black;
}

.submit {
    height: 35px;
    background-color: #F0161F;
    color: white;
    margin-top: 20px;
}

.danhgia {
    margin-top: 30px;
    margin-left: 30px;
}

.formdanhgia {
    margin-left: 15px;
    margin-right: 15px;
    width: auto;
    border: 2px solid blue;
    height: 500px;
}

.form1 {
    margin: 40px 40px;
}

.form1 input {
    width: 300px;
    height: 40px;
    margin-bottom: 5px;
}

.form1 .sb {
    width: 50px;
    background-color: #273896;
    color: white;
    margin-left: 15px;
}

textarea {
    width: 100%;
    height: 130px;
    margin-bottom: 20px;
}

.cmt {
    margin-left: 20px;
    border: 1px solid #A6A6A6;
}

.cmt p {
    padding: 5px 5px;
}

.cmt p:last-child {
    font-size: 12px;
}

.mota a {
    display: list-item;
    margin-left: 40px;
    margin-top: 10px;
}

.mota {
    border: 1px solid #A6A6A6;
    margin-left: 20px;
    padding-top: 10px;
}

.colsp-tt {
    float: left;
}

.formlogin {
    margin: 50px 50px;
}

.formlogin {
    margin-left: 200px;
}

.formlogin h3 {
    text-align: center;
    font-size: 25px;
    background: #F0F0F0;
    padding: 10px 20px;
    color: black;
}

.formlogin input {
    margin-bottom: 20px;
    width: 250px;
    height: 30px;
}

.formlogin .sb {
    background-color: #FFA722;
    color: white;
}

.cart {
    margin: 50px 50px;
    height: auto;
    border: 1px solid #A6A6A6;
    padding: 15px 15px;
}

#tb1 td,
#tb1 th {
    border: 1px solid #ddd;
    padding: 10px 10px;
}

table {
    margin-left: 10px;
}

.cart-bottom {
    margin-left: 10px;
    padding: 7px 7px;
    background-color: #273896;
    color: white;
    margin-top: 20px;
    width: 150px;
    text-align: center;
}

.cart h4 {
    padding-top: 30px;
    padding-bottom: 10px;
    border-bottom: 2px solid #A6A6A6;
}

.form-sl {
    width: 90%;
    height: auto;
}

.main-gg {
    height: 30px;
}

.form-sl .sb {
    text-align: center;
    padding: 7px 7px;
    background-color: #F0161F;
    color: white;
    margin-top: 40px;
    margin-left: 10px;
    width: 170px;
}

#tb2 th {
    float: left;
    padding: 10px 0px;
    padding-right: 250px;
    padding-left: 10px;
}

tr,
td {
    border: 1px solid #ddd;
    padding: 10px 10px;
}

.formdk {
    margin-left: 20px;
}

.img-pt-left {
    position: static;
    margin-top: 10px;
    margin-left: 140px;
}

.img-pt-left img {
    width: 70px;
    height: 70px;
    border: 1px solid black;
    margin-left: 10px;
}

#product-big {
    width: 420px;
    height: 400px;
    margin-left: 50px;
}

#product-small:hover {
    transform: scale(2.5);
    border: 1px solid red;
}

.fas {
    color: white;
}

img:hover {
    cursor: pointer;
}

.h3 {
    padding-left: 70px;
    padding-top: 50px;
}

.form-tt {
    height: auto;
    width: 70%;
    background-color: #F1F1F1;
    margin-left: 70px;
    padding: 50px 50px;
    border-radius: 5px;
}

.tt {
    margin-left: 20px;
    width: 300px;
    height: 35px;
    margin-bottom: 20px;
    border-radius: 5px;
    border-width: 1px;
    font-size: 18px;
    border: 1px solid #ddd;
}

textarea.tt1 {
    height: 150px;
    margin-left: 20px;
    width: 400px;
    margin-bottom: 20px;
    border-radius: 5px;
    border-width: 1px;
    font-size: 18px;
    border: 1px solid #ddd;
}

.tt1 {
    margin-left: 20px;
    width: 400px;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 5px;
    border-width: 1px;
    font-size: 18px;
    border: 1px solid #ddd;
}

#table-tt {
    width: 620px;
    border-bottom: 1px solid black;
}

#table-tt th {
    padding: 10px 20px;
    padding-right: 70px;
    border: 2px solid black;
    width: 120px;
}

#table-tt td {
    padding: 10px 20px;
    border: 2px solid black;
}

.nhap {
    width: 150px;
    height: 35px;
    background-color: #F0161F;
    color: white;
    padding: 10px 10px;
    border: 1px solid #F1F1F1;
}

.reset {
    width: 150px;
    height: 35px;
    background-color: #FFA722;
    color: white;
    margin-left: 30px;
    padding: 10px 10px;
    border: 1px solid #F1F1F1;
}

input {
    border: 1px solid white;
    padding-left: 10px;
}

.back {
    color: blue;
    margin-left: 30px;
    font-size: 14px;
}

.active-tt {
    margin-top: 30px;
    margin-left: 20px;
}

.checkbox {
    margin-left: 20px;
    width: 15px;
    height: 20px;
    margin-top: -25px;
}

p5 {
    font-size: 14px;
}

.new {
    height: auto;
    width: 95%;
    margin-left: 30px;
    margin-top: 20px;
}

.img-new {
    height: 300px;
    width: 300px;
    margin-left: 50px;
}

.img-new:last-child {
    height: 300px;
    width: 300px;
    margin-left: 100px;
}

.new p {
    padding: 20px 10px;
}

del {
    color: #273896;
}