
a.logo{
	justify-content: center;
	display: flex;
	color: white;
	align-items: center;
	align-self: center;
	padding-top: 5px;
}
a.logo h3{
	font-family: 'Lato', sans-serif;
	font-size: 26px;
}
a.logo p{
	
	font-family: 'Lato', sans-serif;
}
.main-top1 a.menu{
			color: black;
			
}
.header-top-3,.header-top-2{
	cursor: pointer;
}
.header-menu-header2 input.search{
	cursor: pointer;
	border: none;
	outline: none;
}
.main-top .main-top1 a{
	color: #7F7F7F;
}
.main-top3 p strong,.main-top3 .p1 strong{
	color: black;
	cursor: pointer;
}
 .main-top .main-top1 #dienthoai{
	margin-top: 5px;
}
.content-top .content-menu h3{
	color: black;
}