
.main1-sp-left {
    float: left;
    width: 20%;
    height: 100%;
     
}

.main1-sp-right-main {
    float: left;
    width: 79%;
    height: 100%;
    margin-left: 5px;
    
}


.bg-left {
    width: 100%;
    height: 50%;
    float: left;
}
.colsp2{
	width:24.5%;
	height:50%;
   	float: left;
   
}
.colsp2 img {
    width: 80%;
    height: 70%;
    margin-left: 30px;
    margin-top: 5px;
  
}



.main1-sp-right-main .colsp2 {
  margin-bottom: 5px;
  border: 1px solid #F3F3F3;
  
}
.container2 .main1-sp1 .colsp1 {
  
  border: 1px solid #F3F3F3;
  
}
.container .main1-sp .colsp1:hover{
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	
}
.container .main1-sp .colsp1 .tsp:hover{
	color: #0078D7;
}
.container .main1-sp .colsp1 {
  
  border: 1px solid #F3F3F3;
  
}
.main1-sp-right-main .colsp2:hover{
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	color: #0078D7;
}
.main1-sp1 .colsp1:hover{
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	color: #0078D7;
}
.main1-sp-right-main .colsp2 .tsp{
	color: black;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.main1-sp .colsp1 .tsp{
	color: black;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.main1-sp-right-main .colsp2 .tsp:hover{
	color: #0078D7;
}
.main1-sp-right-main .GG {
    background-color: #F0161F;
    color: white;
    padding: 5px 1px;
    text-align: center;
    position: absolute;
    margin-top: -200px;
    margin-left: 30px;
    border-radius: 50%;
    font-size: 10px;
    z-index: 100;
}
.container1{
	height: auto;
}
.main1-top{
	margin-bottom: 20px;
}
.main1-sp-left {
    background-color: #F3F3F3;
}
.main1-sp-left > .main1-sp-left2{
	background-color: white;
}
.main1-sp-left p {
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
}

.main1-sp-left input.tk {
    border: 1px solid #A2A2A2;
    margin-left: 10px;
    margin-bottom: 10px;
    height: 25px;
    width: 200px;
    border-radius: 5px;
}

.table-brand {
    margin-left: 10px;
}

.table-brand a {
    color: black;
    list-style-type: none;
    display: block;
    margin-top: 7px;
    margin-bottom: 5px;
    font-size: 14px
}
.table-brand a:hover{
	color: #0078D7;
}
.table-brand a input {
    margin-right: 20px;
    margin-top: 7px;
    margin-bottom: 5px;
    border-color: #A2A2A2;
}

.main1-sp-left-main {
    margin-left: 20px;
    padding-top: 20px;
   
}
.margin{
	margin-bottom: 30px;
}
.main1-sp-left2{
	background-color: white;
}
.main1-sp-right-main  p del{
	font-size: 14px;
}
.main1-sp1 .colsp1 .GG {
    background-color: #F0161F;
    color: white;
    padding: 5px 1px;
    text-align: center;
    position: absolute;
    margin-top: -190px;
    margin-left: 30px;
    border-radius: 50%;
    font-size: 10px;
    z-index: 100;
}
.container .main-top a{
	font-size: 15px;
	margin-top: 1px;
	border: none;
	color: #0078D7
}
.container .main-top .main-top1{
border: 1px solid #F3F3F3;	
}