.container2-logo {
	height:100px;
    background-color: white;
   
    margin-bottom:50px;
   
}

.img-logo-main {
    width: 100%;
    height: 100%;
}

.logo-shop {
    padding: 5px;
    width: 10%;
    border: none;
    outline: none;
}

.main-logo {
    padding: 20px 20px 18px 18px;
    display: flex;
    justify-content: space-around;
    
}
.bg{
	width: 101%;
	height: 30px;
	background-color: #F0F0F0;
	margin-top: 35px;
}
.main1-sp .main1-sp-right-main-2 .colsp1{
	border:  none; 
	margin-top: 15px;
}