.sl1{
	float: left;
	width: 49%;
	
	height: 200px;
	padding-bottom:20px;
	border: 1px solid #C8C8C8;
	margin-bottom: 20px;
}
.sl2{
	float: right;
	width: 49%;
	
	height: 200px;
	margin-bottom: 20px;
	padding-bottom:20px;
	border: 1px solid #C8C8C8;
}
.sl1 img{
	width: 100%;
	height: 100%;
}
.sl2 img{
	width: 100%;
	height: 100%;
}
.sl{
	margin-bottom: 20px;
	
	width: 100%;
}

 